
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Profile</h4>
            <p class="card-category">All the information about your account</p>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-md-3">
                  <h4 class="card-title">Nom et Prenom : </h4>
              </div>
              <div class="col-md-3">
                  <p class="card-category">{{myArrayClient.nom_client}} {{myArrayClient.prenom_client}}</p>
              </div>
              <div class="col-md-3">
                  <h4 class="card-title">CIN : </h4>
              </div>
              <div class="col-md-3">
                  <p class="card-category">{{myArrayClient.cin_client}}</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  <h4 class="card-title">Email : </h4>
              </div>
              <div class="col-md-3">
                  <p class="card-category">{{myArrayClient.email_client}}</p>
              </div>
              <div class="col-md-3">
                  <h4 class="card-title">Tél : </h4>
              </div>
                <div class="col-md-3">
                  <p class="card-category">{{myArrayClient.tele_client}}</p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3">
                <h4 class="card-title">Date de création : </h4>
            </div>
            <div class="col-md-3">
                <p class="card-category">{{myArrayClient.date_creation}}</p>
            </div>
            <div class="col-md-3">
                <h4 class="card-title">L'agence : </h4>
            </div>
              <div class="col-md-3">
                <p class="card-category">{{myArrayClient.agence_id_agence}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
                <h4 class="card-title">N° du compte : </h4>
            </div>
            <div class="col-md-3">
                <p class="card-category">{{myArrayCompte.num_compte}}</p>
            </div>
          </div>
        </div>
    </div>
