<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
        			<div class="billing">
        				<div class="secure text-center margin-bottom-md">
        					<h3 class="margin-bottom-md text-success">
        							<span class="fs1 icon" aria-hidden="true" data-icon=""></span>
        							Secure credit card payment<br>
        							<small>This is a secure 128-bit SSL encrypted payment</small>
        						</h3>
        				</div>
                        <br>
                        <br>
        				<form id="billing" class="form-horizontal" method="post" action="#" role="form">
        					<div class="form-group row">
        						<label class="col-sm-3 control-label">N° de cart de bénificaire :</label>
        						<div class="col-sm-8">
        							<input type="text" class="form-control" placeholder="••••  ••••  ••••  ••••">						
        						</div>
        					</div>
        					<div class="form-group row">
        						<label class="col-sm-3 control-label">Le Nom de bénificaire :</label>
        						<div class="col-sm-8">
        							<input type="text" class="form-control" placeholder="Le Nom">
        						</div>
        					</div>
        					
        					<div class="form-group row">
        						<label class="col-sm-3 control-label">Montant :</label>
        						<div class="col-sm-8">
        							<input type="text" class="form-control" placeholder="Le montant en DH">
        							
        						</div>
        					</div>
                            <br>
        					<div class="action-wrapper text-center">
        						<h4 class="notes margin-bottom-sm">
        								You'll be charged <span class="text-stronger">$99/year</span> 
        							</h4>
        						<div class="action-btn">
        							<button class="btn btn-success btn-lg">
        								Make Payment
        								<i class="fa fa-chevron-right"></i>
        							</button>
        						</div>
        					</div>
        				</form>
        			</div>
  			</div>
        </div>
    </div>
</div>
<br>