<div class="card">
  <div class="card-body">
    <div class="d-md-flex align-items-center">
      <div>
        <h4 class="card-title">
          Vos Transactions :
        </h4>
        <h6 class="card-subtitle">Les dernières transactions faites sur votre compte</h6>
      </div>
    </div>

  </div>
  <div class="table-responsive">
    <table class="table v-middle mb-0">
      <thead>
        <tr>
          
          <th class="border-top-0 font-medium border-bottom-0">Date</th>
          <th class="border-top-0 font-medium border-bottom-0">Heure</th>
          <th class="border-top-0 font-medium border-bottom-0">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let ts of myArrayTransaction; index as i'>
          
          <td>{{ts.date_transaction}}</td>
          <td>{{ts.heure_transaction}}</td>
          <td>
            {{ts.type_transaction}}
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>