<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Recharge</h3>
				<h6 class="card-subtitle">faite vous recherge téléphonique</h6>
				<ngb-accordion #acc="ngbAccordion">
					<ngb-panel>
						<ng-template ngbPanelTitle>
							<span>&#9733; <b>Inwi</b></span>
						</ng-template>
						<ng-template ngbPanelContent>
							<form id="billing" class="form-horizontal" method="post" action="#" role="form">
                
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Votre N° Tél :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="N° Tél">
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Montant :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Le montant en DH">
                    
                  </div>
                </div>
                          <br>
                <div class="action-wrapper text-center">
                  <a href="#" class="btn btn-primary">Charger</a>
                </div>
              </form>
						</ng-template>
					</ngb-panel>
					<ngb-panel>
						<ng-template ngbPanelTitle>
							<span>&#9733; <b>Maroc Télécom</b></span>
						</ng-template>
						<ng-template ngbPanelContent>
							<form id="billing" class="form-horizontal" method="post" action="#" role="form">
                
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Votre N° Tél :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="N° Tél">
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Montant :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Le montant en DH">
                    
                  </div>
                </div>
                          <br>
                <div class="action-wrapper text-center">
                  <a href="#" class="btn btn-primary">Charger</a>
                </div>
              </form>
						</ng-template>
					</ngb-panel>
					<ngb-panel>
						<ng-template ngbPanelTitle>
							<span>&#9733; <b>Orange</b></span>
						</ng-template>
						<ng-template ngbPanelContent>
							<form id="billing" class="form-horizontal" method="post" action="#" role="form">
                
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Votre N° Tél :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="N° Tél">
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Montant :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Le montant en DH">
                    
                  </div>
                </div>
                          <br>
                <div class="action-wrapper text-center">
                  <a href="#" class="btn btn-primary">Charger</a>
                </div>
              </form>
						</ng-template>
					</ngb-panel>
				</ngb-accordion>

			</div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
            <div class="billing">
              <div class="secure text-center margin-bottom-md">
                <h3 class="margin-bottom-md text-success">
                    <span class="fs1 icon" aria-hidden="true" data-icon=""></span>
                    Paye votre facture téléphonique<br>
                  </h3>
              </div>
                      <br>
                      <br>
              <form id="billing" class="form-horizontal" method="post" action="#" role="form">
                <div class="form-group row">
                  <label class="col-sm-3 control-label">N° de Facture :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="••••  ••••  ••••  ••••">						
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Montant :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Le montant en DH">
                    
                  </div>
                </div>
                          <br>
                          <div class="action-wrapper text-center">
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
              </form>
            </div>
      </div>
      </div>
  </div>
</div>